SESSION_NAME = "1ApWapzMBu63W6uTP3xkOgjAPzWrcEttzsWA0oDUXPw6AY2f7homD68o0plda8a7bQzfeeSgEVmRpiKtAEGCQmrUNwQ8gN9pIIHmNvYIPmPltyYANUijNRC1XUGwZBT0BUqF7hYeHYca70FwhS9DFzwBPknl9629An3SqhKwZ8DSgoDrmqoRJTP_Ozz5QkunZeCHgnPUG2f176kaLGEha03hLo7TL0iQFSPFCoTIO81bqc7RANDzbRkEdgph9igC4s6c7wrdqRvocPZJ-RP2tUWjgVqc-3ftIZ3WX0HSLTkP30q1g4z7beH0pbQKhCKV7BeYjO-Dbk0trB2HO1sspDboW7x0H5pI=" # A pyrogram String Session

BOT_TOKEN = "5926297757:AAEW-e4B180qQRXsk2bImn2I8z0rs5yKYaE" # Get a token from @botFather

API_ID = "2013655" # Get this value from https://my.telegram.org

API_HASH = "036e4559f48a51ef4e33b2d6a1e7f502" #  Get this value from https://my.telegram.org

SUDO_USERS = "5026921065 1300527267" # For multiple Users Use Space

DURATION_LIMIT = "60" # In Mins (EX :- 60)

ASSISTANT_NAME = "Akpliolmayanbiri" # Fill there Your Assistant Username without @

BOT_USERNAME = "Patuska_bot" # fill there Your Bot Username Without @

UPDATES_CHANNEL = "" # Support Channel Link if you have any, Leave blank if no support. Your Username must start without @

GROUP_SUPPORT = "" #Support Group Link if you have any, Leave blank if no support. Your Username must start without @
